@import "../../variables/colors/colors.scss";

.wrapper-loading {
    position: absolute;
    height: 50px;
    top: 15%;
    left: 50%;
    margin-left: -30px;

    &--spiner {
        width: 30px;
        height: 30px;
        border: 8px solid;
        border-color: $ic-color--blue-light transparent $ic-color--blue-light transparent;
        border-radius: 50%;
        animation: spin 1.2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
