@import "../../variables/colors/colors.scss";
@import "../../variables/size.scss";

.wrapper-name {
    &.textBlack {
        color: $ic-color--black;
    }

    &.textWhite {
        color: $ic-color--white;
    }

    h3 {
        font-size: $ic-size--large;
        text-align: center;
        font-weight: normal;

        margin-top: 20px;
        padding-bottom: 50px;

        span {
            font-weight: bold;
        }
    }
}

@media (max-width: 800px) {
    .wrapper-name {
        h3 {
            span {
                white-space: nowrap;
            }
        }
    }
}
